.text{
    font-family: Georgia, verdana,serif ;
    font-size: 22px;
    font-weight: 540;
    color:whitesmoke;
    background-color: black;
    border-style: dashed;
    border-width: 3px;
    border-color: yellow;
  
}
.text-font{
    font-size: 44px;
    font-weight: 800;
    color:azure;
    background-color: rgb(208, 56, 10);
    font-family: Georgia, verdana,serif ;
    text-align: center;
    margin:30px;
    padding:20px;
    margin-top:10px
}
.image-dim{
    width: 450px;
    height: auto;
}
.text-describe,.mini-text{
    font-size: 22px;
    font-family: Georgia, verdana,serif ;
    font-weight: 700;
    color:rgb(165, 19, 19);
    background-color: rgba(132, 220, 191, 0.848);
    
}
#description{
    font-size: 26px;
}
.para , .list-family{
    font-family: Georgia, verdana,serif ;
    font-size: 18px;
}
#home-link{
    font-family: Georgia, verdana,serif ;
    font-size:16px;
    color:yellow;
    background-color: black;
}
.mini-text{
    font-size:20px;
    color:blanchedalmond;
    background-color: rgb(129, 48, 48);
}
.container{
    width:800px;
    margin:100px auto;
    padding:30px;
    border-style: dotted;
    border-width: 5px;
    border-color: rebeccapurple;
    background-color: mediumturquoise;
}
.list-container{
    width:500px;
    
    margin:auto;
}
.ul
{
    
    margin:20px;
}
span{
    display: inline-block;
    margin:5px;
    padding:5px;
}
